.title{
    background-color: rgb(213, 88, 88); 
    color: greenyellow; 
    padding: 5px;
    border-radius: 15px;
}

.title2{
    background-color: rebeccapurple;
    color: aqua;
    padding: 2px;
    border-radius: 2px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub{
    padding: 5px 20px;
    border-radius: 20px; 
    background-color: blue;
}

#sub:hover{
    background-color: rgb(21, 93, 38);
    color: rgb(161, 11, 11);
    font-size: 1.1em;
}



